DATABASE_URL=postgresql+asyncpg://admin:admin@postgres:5432/library

REDIS_URL=redis://redis:6379

JWT_SECRET=supersecret
JWT_EXPIRE_MINUTES=60

ENVIRONMENT=development

INITIAL_ADMIN_EMAIL=admin@admin.com
INITIAL_ADMIN_NAME=admin
INITIAL_ADMIN_PASSWORD=admin